In [1]:
import pandas as pd
import numpy as np
import re
from collections import Counter

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1.Какое количество мужчин и женщин ехало на корабле? 
В качестве ответа приведите два числа через пробел.

In [3]:
sex_counts = df['Sex'].value_counts()
print(sex_counts['male'], sex_counts['female'])

577 314

## 2.Какой части пассажиров удалось выжить? 
Посчитайте долю выживших пассажиров. 
Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [4]:
survived_counts = df['Survived'].value_counts()
round(survived_counts[1] / len(df) * 100, 2).item()

38.38

## 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? 
Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [5]:
round((df['Pclass'] == 1).sum() / len(df) * 100, 2).item()

24.24

## 4. Какого возраста были пассажиры? 
Посчитайте среднее и медиану возраста пассажиров. 
В качестве ответа приведите два числа через пробел.

In [6]:
round(df['Age'].mean(), 2).item(), df['Age'].median().item()

(29.7, 28.0)

## 5. Коррелируют ли число братьев/сестер с числом родителей/детей? 
Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [7]:
# cor_pirs = df['SibSp'].corr(df['Parch'])
# cor_pirs
# аналогично
corr = np.corrcoef(df['SibSp'], df['Parch'])[0, 1]
print(round(corr, 2))

0.41

## 6. Какое самое популярное женское имя на корабле?
   Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). 
   Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. 
   Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию.
   Попробуйте вручную разобрать несколько значений столбца Name 
   и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [9]:
female_names = []
for name in df['Name']:
    if 'Miss.' in name:
        fem = re.search(r'Miss\. ([A-Za-z]+)', name)
        if fem:
            female_names.append(fem.group(1))

    elif 'Mrs.' in name:
        fem = re.search(r'\(([^)]+)\)', name)  
        if fem:
            full_name = fem.group(1)
            first_name = full_name.split()[0]
            female_names.append(first_name)

most_popular_name, count = Counter(female_names).most_common(1)[0]
most_popular_name

'Anna'